<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/calibri-bold.ttf</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>CFBundleDisplayName</key>
	<string>Panasonic Smart Retail</string>
	<key>CFBundleIdentifier</key>
	<string>com.panasonic.retail</string>
	<key>CFBundleVersion</key>
	<string>1.0.87</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Retail</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs to access the calendar for the attendance.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs to access the location to set store details.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>The location tracking feature is used for the enterprise user to provide evidence of them being in a particular store or location, as part of their job responsibilities. Based on this evidence their attendance for the day will be marked and accordingly their remuneration will be calculated. </string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to the photo gallery for picking product photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to the photo gallery for picking product photos.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app would like to access your photos</string>
	<key>NSCameraUsageDescription</key>
	<string>This app would like to capture image</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need microphone access for uploading videos</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location is not needed. This request has popped up due to a 3rd party framework used by the app in a context that does NOT need you to reveal you location. Do be sure to check audit trail for the location queries on ios 15 or later.</string>
</dict>
</plist>
